body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A7AABC;
   
}

.intro {
    margin-bottom: 6%;
background-color:black ;
position: relative ;
height: 10px;
margin: 100px;
  
}

   

.headerblock {

    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 39%;
    background-image: url(images/aryan-dhiman-iGLLtLINSkw-unsplash.jpg);
   align-items: center;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;

}


.name {
    color: whitesmoke;
    margin: 20px;
    text-align: justify;
}



img {
    float: right;
    border-radius: 5px;
    margin: 5px;
     

}


.navbar {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border: solid #070035;
    border-width: 1px;
   align-items: center; 
   justify-content: space-around;  
   background-color: #070035;
  
}



a {
    color: whitesmoke;
    font-size: medium;
    font-style:bold;
}


footer {
    display: inline;
}



.cover {
    width: 40%;
    justify-content: center;

}


.gridcontainer {
margin: 5rem auto;
width: min(95% 75rem);
display: grid;
grid-template-columns: 50% 50%;
margin: 5%;
margin-top: 20%;
position: flex;
top: 200px;
border:solid  #070035;





}

.box1 {
    margin: 20px;
   padding: 20px;
   border: solid #070035;
 

}

.box2 {
    display: grid;
    margin: 20px;
   padding: 20px;
   border: solid #070035;
}

.box3 {
    margin: 20px;
    padding: 20px;
    border: solid #070035;

}

.box4 {
    margin: 20px;
    padding: 40px;
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-column-end:1 ;
    border: solid #070035;
       
}

.box5 {
    margin: 20px;
    padding: 20px;
    border: solid #070035;
    
}
ul {
    list-style: none;
}
 footer {
    background-color: aqua;
 }


/*=======================================Mobile===========================================================*/
    @media screen and (max-width: 450px) {

        body {
            font-size: 6px;
        }
        header {
            font-size: 2px;
            
    }

  

.headerblock {
    
    height: 15%;
    width: 95%;
    margin-bottom: 50px;
}

    
.gridcontainer {
    margin-bottom: 20px;

}
img {
    width: 20%;
    height: 20%;
}
.box1 {
    padding:3px ;
    margin: 3px;
}

.box2 {
    margin: 3px;
   padding: 3px;

}

.box3 {
    margin: 5px;
    padding: 5px;
}

.box4 {
    margin: 5px;
    padding: 5px;
}

.box5 {
    margin: 5px;
    padding: 5px;
    
}
/**======form aligne=====*/
input {
    width: fit-content;
}
li {
    left: 20px;
}

}

/*=============================================Tablet=====================================================*/
@media screen and (min-width:768px) and (max-width:1025px) {

    .intro {
        position: relative;
           
    }


    .headerblock {
    
        height: 15%;
        width: 95%;
    }
    .gridcontainer {
        position: relative;
       
    }

}





/*=======================================Desktop===========================================================*/
@media screen and (min-width:1px) {

    


}