body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFEECA;
}

.intro {
    margin-bottom: 8%;
background-color:black ;
position: relative ;
height: 10px;
margin: 100px;
  
}

   

.headerblock {

    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 40%;
    background-image: url(images/milad-fakurian-_zSZVxZWhkY-unsplash.jpg);

}


.name {
    color: whitesmoke;
    margin: 20px;
    text-align: justify;
}



img {
    float: right;
    border-radius: 5px;
    margin: 5px;
     

}


.navbar {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    border: solid black;
    border-width: 1px;
   
}



a {
    color: black;
    font-size: medium;
    font-style:bold;
}


footer {
    display: inline;
}



.cover {
    width: 40%;
    justify-content: center;

}


.gridcontainer {
margin: 5rem auto;
width: min(95% 75rem);
display: grid;
grid-template-columns: 50% 50%;
margin: 10%;
position: relative;
top: 200px;




}

.box1 {
    margin: 20px;
   padding: 20px;
 

}

.box2 {
    display: grid;
    margin: 20px;
   padding: 20px;
}

.box3 {
    margin: 20px;
    padding: 20px;

}

.box4 {
    margin: 20px;
    padding: 40px;
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-column-end:1 ;
       
}

.box5 {
    margin: 20px;
    padding: 20px;
    
}
ul {
    list-style: none;
}


