body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

header {
    margin-bottom: 8%;

}
.headerblock {
    background-color: yellow;
    width: 70%;
    height: 50%;
    position: absolute;
    bottom: 40%;
    left: 15%;
    background-image: url(https://unsplash.com/photos/JdoofvUDUwc);


}

.intro {
   
}



img {
    float: right;
    
}


.navbar{
    margin-right: 2px;
    padding-bottom: 300px;
    display: flex;
    justify-content: space-around;

 
   }

   a {
    color: black;
    font: italic;
   }


  footer {
    display: inline;
  }



.cover {
    background-color: coral;
    width: 40%;
    justify-content: center;

}

.gridcontainer {
    display: grid;
    background-color: darkorange;
    padding: 30px;
   text-align: left  ;

   
}
 .education {
    background-color: darkkhaki;
 }

 ul {
    list-style: none;
 }

