body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5FFFC;
    
}
.fa-github {
  font-size: 80px;
  color: black;
}

.fa-linkedin {
    font-size: 80px; 
    color: navy;
}

.name {
    font-size: medium;
}
    
h1 {
    color:#003937 ;
}

h2 {
    color: #005350;
    
}

h3 {
    color:#006E6A ;
}

img {

    border-radius: 5px;
    margin: 5px;
    max-width: 200px;
     

}

a {
    color: rgb(245, 245, 245);
    font-size: medium;
    font-style:bold;
}

.headerblock {

    width: 100%;
    height: 50%;
    position: static;
    bottom: 39%;
    background-image: url(./src/images/szabo-viktor-28ZbKOWiZfs-unsplash.jpg);
   align-items: center;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0;
   margin-bottom: 0px;

}

.navbar {
    background-color: #3FB6B0;
    justify-content: space-around;  
    align-items: center;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    margin: 0px;
}

    .gridcontainer {
        display: grid;
        grid-template-columns: 50% 50%;
        border:solid  #3FB6B0;
        margin: 5%;

    }

    .box1 {
        margin: 20px;
       padding: 20px;
      
     
    
    }


    .box2 {
        display: grid;
        margin: 20px;
       padding: 20px;

    }

    .box3 {
        margin: 20px;
        padding: 20px;
       
    
    }

    .box4 {
        margin: 20px;
        padding: 40px;
        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-column-end:1 ;
       
    }

    .box5 {
        box-sizing: border-box;
        max-width: fit-content;
        margin: 20px;
        padding: 20px;
        
        align-items: end;
        
    }

footer {
    background-color: #00AAA3;
   
}

ul {
    list-style: none;
}

.links {
    display: flex;
    margin-right: 50px;
justify-content: end;



}


/*=======================================Mobile===========================================================*/
@media screen and (max-width: 550px) {
        body {
            font-size: 10px
        };

        .box1 {
            margin: 2px;
           padding: 2px;
           
         
        
        }

        .headerblock {
            font-size: 6px;
        }
    
    
        .box2 {
            display: grid;
            margin: 20px;
           padding: 20px;
   
        }
    
        .box3 {
            margin: 20px;
            padding: 2px;
           
        
        }
    
        .box4 {
            margin: 2px;
            padding: 2px;
            
        }
    
        .box5 {
            margin: 2px;
            padding: 10px;
           
            
        }
    
        .navbar {
          display: block;
        }

}

/*=============================================Tablet=====================================================*/
@media screen and (min-width:768px) and (max-width:1025px) {
    
    body {
    font-size: 50px;
    }
    .box1 {
        margin: 20px;
       padding: 20px;
       border: solid #3FB6B0;
     
    
    }


    .box2 {
        display: grid;
        margin: 20px;
       padding: 20px;
       border: solid #3FB6B0;
    }

    .box3 {
        margin: 20px;
        padding: 20px;
        border: solid #3FB6B0;
    
    }

    .box4 {
        margin: 20px;
        padding: 40px;
        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-column-end:1 ;
        border: solid #3FB6B0;
    }

    .box5 {
        box-sizing: border-box;
        max-width: fit-content;
        margin: 20px;
        padding: 20px;
        border: solid #3FB6B0;
        align-items: end;
        
    }



}

/*=======================================Desktop===========================================================*/
@media screen and (min-width:1024) {
body {
    font-size: 20px;
}

.box1 {

   border: solid #3FB6B0;
 

}


.box2 {
   border: solid #3FB6B0;
}

.box3 {
    border: solid #3FB6B0;

}

.box4 {
    border: solid #3FB6B0;
}

.box5 {
    margin: 20px;
    
    border: solid #3FB6B0;
   
}
}